@font-face {
  font-family: "HappyFox";
  src: url(../fonts/HappyFox.ttf);
  font-weight: 400;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #E7E9F2;
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1900 - 320)));
  line-height: 24px;
}

li {
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1900 - 320)));
  line-height: 24px;
}

.title {
  font-family: 'HappyFox';
  font-weight: 400;
  font-size: calc(30px + (55 - 30) * ((100vw - 320px) / (1900 - 320)));
  line-height: 66px;
  letter-spacing: 0.03em;
  color: #A9141D;
  text-align: center;
}

.title_min {
  font-family: 'HappyFox';
  font-weight: 400;
  font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #A9141D;
  text-align: center;
}

.header {
  font-family: 'Gilroy';
  background-image: url(../images/header/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 93%;
  padding-top: 660px;
  padding-bottom: 200px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: 'HappyFox';
  font-size: 135px;
  color: #A9141D;
  font-weight: 400;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 25%;
}

.header__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 646px;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-top: -20px;
}

.main {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cake {
  margin-bottom: 160px;
}

.cake__inner {
  text-align: center;
  max-width: 779px;
  margin: 0 auto;
}

.cake__text {
  margin-bottom: 45px;
}

.tasks {
  margin-bottom: 184px;
}

.tasks__inner {
  max-width: 780px;
  position: relative;
  float: right;
}

.tasks__img {
  position: absolute;
  top: 48%;
  left: -102%;
}

.tasks__title {
  margin-bottom: 40px;
}

.tasks__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__content-blocks {
  width: 50%;
}

.tasks__content-blocks:not(:last-child) {
  margin-right: 20px;
}

.tasks__content-title {
  text-align: start;
  margin-bottom: 20px;
}

.task__list-item {
  margin-bottom: 50px;
  position: relative;
  padding-left: 30px;
}

.task__list-item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #A9141D;
  border-radius: 50%;
  left: 0px;
  top: 7px;
}

.portraits {
  margin-top: 43%;
  margin-bottom: 160px;
}

.portraits__inner {
  max-width: 780px;
  position: relative;
}

.portraits__title {
  margin-bottom: 40px;
}

.portraits__subtitle {
  margin-bottom: 20px;
}

.portraits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portraits__list {
  width: 50%;
}

.portraits__list:not(:last-child) {
  margin-right: 22px;
}

.portraits__item {
  margin-bottom: 20px;
}

.portraits__item span {
  font-weight: 600;
}

.portraits__img {
  position: absolute;
  top: -62%;
  right: -105%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.desicion {
  margin-bottom: 160px;
}

.desicion__title {
  margin-bottom: 40px;
}

.desicion__text {
  margin-bottom: 40px;
}

.desicion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.desicion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 380px;
}

.desicion__item-img {
  margin-right: 25px;
}

.desicion__item-content-text span {
  font-weight: 600;
}

.why {
  margin-bottom: 160px;
}

.container__why {
  position: relative;
}

.why__inner {
  max-width: 780px;
  position: absolute;
  right: 100px;
}

.why__title {
  margin-bottom: 40px;
}

.why__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  padding: 12px 99px;
  border: 2.7px dashed #94070A;
  border-radius: 27px;
}

.why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__content-list:not(:last-child) {
  margin-right: 24px;
}

.why__content-item {
  margin-bottom: 30px;
  position: relative;
  padding-left: 20px;
}

.why__content-item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #A9141D;
  border-radius: 50%;
  left: 0px;
  top: 7px;
}

.why__img {
  position: absolute;
  top: -62%;
  left: -85%;
}

.examples {
  margin-top: 36%;
  margin-bottom: 72px;
}

.examples__title {
  margin-bottom: 40px;
}

.examples__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.slider {
  position: relative;
}

.slick-dots {
  position: absolute;
  display: block;
  padding: 0;
  left: 51%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  list-style-type: none;
  top: 102%;
}

.slick-dots button {
  background-color: #AEAEAE;
  height: 12px;
  color: black;
  width: 12px;
  border: transparent;
  margin-right: 20px;
  cursor: pointer;
  font-size: 1px;
  border-radius: 50%;
}

.slick-active button {
  background-color: #94070A;
  height: 12px;
  width: 12px;
  border: transparent;
  margin-right: 20px;
  color: transparent;
  border-radius: 50%;
}

.banners__inner {
  margin-top: 60px;
}

.examples__landing {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__btn {
  padding: 10px 68px;
  background-color: #94070A;
  color: white;
  border-radius: 27px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.slick-prev, .slick-next {
  position: absolute;
  border: none;
  background-repeat: no-repeat;
  width: 25px;
  height: 37px;
  background-color: transparent;
  top: 45%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
}

.slick-prev {
  background-image: url(../images/examples/arrow_left.svg);
  left: -3%;
}

.slick-next {
  background-image: url(../images/examples/arrow_right.svg);
  right: -5%;
}

.result__title {
  margin-bottom: 40px;
}

.result__subtitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
