@font-face {
  font-family: "GilroyLight";
  src: url(../fonts/Gilroy-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-medium";
  src: url(../fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy-semibold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-bold";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  font-family: "Gilroy";
  letter-spacing: 0.01em;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: white;
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (1900 - 320)));
  font-weight: 400;
}

.title {
  font-weight: 500;
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1900 - 320)));
  color: #dc0d15;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-image: url(../images/header/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
}

.header__inner {
  padding-top: 170px;
  margin-left: 400px;
  padding-bottom: 80%;
}

.header__title {
  max-width: 712px;
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1900 - 320)));
  font-weight: 400;
}

.tasks__client {
  max-width: 480px;
  margin-left: 43%;
  margin-bottom: 38px;
  z-index: 100;
}

.tasks__company {
  max-width: 480px;
}

.tasks__auditory {
  max-width: 480px;
  margin-left: 55%;
  margin-top: -90px;
  margin-bottom: 80px;
}

@media (max-width: 1600px) {
  .header__inner {
    padding-bottom: 50%;
  }
}

@media (max-width: 1200px) {
  .header__inner {
    margin-left: 0;
    text-align: center;
  }
  .header__title {
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .tasks__auditory {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .header {
    background-image: url(../images/header/bg_mini.png);
    background-position: 50%;
  }
  .logo {
    margin-top: -18%;
    margin-bottom: 58%;
  }
  .logo__img {
    width: 89%;
  }
  .header__inner {
    padding-top: 40%;
    margin-bottom: 5%;
  }
  .header__title {
    font-size: calc(25px + (45 - 25) * ((100vw - 320px) / (1900 - 320)));
  }
  .header__tasks {
    margin-top: -19%;
  }
  .tasks__text {
    text-align: center;
    font-size: calc(20px + (20 - 20) * ((100vw - 320px) / (1900 - 320)));
  }
  .title {
    padding: 0 18px;
    font-size: calc(25px + (25 - 25) * ((100vw - 320px) / (1900 - 320)));
  }
}

@media (max-width: 530px) {
  .logo {
    margin-top: -35%;
    margin-bottom: 58%;
  }
  .header__inner {
    padding-top: 70%;
  }
  .tasks__client {
    margin-left: 0;
  }
  .tasks__auditory {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .logo {
    margin-top: -46%;
    margin-bottom: 117%;
  }
}

.portraits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portraits__content-item {
  position: relative;
}

.portraits-item {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc0d15), to(#dc0d1500));
  background: linear-gradient(to bottom, #dc0d15 0%, #dc0d1500 100%);
  border-top-left-radius: 77px;
  border-top-right-radius: 77px;
  text-align: center;
  margin-top: 218px;
  padding: 20px;
  padding-top: 0;
  width: 380px;
}

.portraits-item:not(:last-child) {
  margin-right: 20px;
}

.potraits-item__rubber {
  position: absolute;
  top: -13%;
  width: 32%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portraits-item__title {
  border-bottom: 2px solid white;
  width: 90%;
  margin: 166px auto;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 26px;
}

.portraits-item__list {
  font-size: 16px;
  margin-top: -148px;
  text-align: left;
  margin-bottom: 34px;
}

.portraits-item__images1 {
  margin-bottom: 28px;
}

.portraits-item__subtitle {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.portraits-item__text {
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.01em;
}

@media (max-width: 1050px) {
  .potraits-item__rubber {
    top: -10%;
  }
}

@media (max-width: 850px) {
  .potraits-item__rubber {
    top: -6%;
  }
}

@media (max-width: 768px) {
  .portraits-item__title {
    font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (768 - 320)));
  }
  .portraits-item__list {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (768 - 320)));
  }
  .portraits-item__images1 {
    margin-bottom: 0;
  }
  .portraits__text {
    text-align: center;
    font-size: calc(20px + (20 - 20) * ((100vw - 320px) / (1900 - 320)));
  }
  .portraits__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portraits-item {
    width: 70%;
    margin-left: 13%;
    margin-top: 26%;
  }
  .portraits-item:not(:last-child) {
    margin-right: 0px;
  }
  .potraits-item__rubber {
    top: -15%;
    width: 23%;
  }
}

@media (max-width: 600px) {
  .potraits-item__rubber {
    top: -10%;
    width: 23%;
  }
}

@media (max-width: 500px) {
  .portraits-item__title {
    margin-top: 38%;
  }
  .portraits-item {
    margin-left: 9%;
  }
  .potraits-item__rubber {
    top: -12%;
    width: 30%;
  }
}

@media (max-width: 430px) {
  .potraits-item__rubber {
    top: -10%;
    width: 30%;
  }
}

@media (max-width: 375px) {
  .potraits-item__rubber {
    top: -9%;
    width: 30%;
  }
}

@media (max-width: 320px) {
  .portraits-item__title {
    margin-top: 49%;
  }
  .potraits-item__rubber {
    top: -6%;
    width: 30%;
  }
  .portraits-item {
    margin-left: 9%;
  }
}

.decision__offer {
  margin-bottom: 80px;
}

.decision__title {
  text-align: center;
}

.decision__why-offer {
  margin-bottom: 80px;
}

.decision__features {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .decision__text {
    text-align: center;
    font-size: calc(20px + (20 - 20) * ((100vw - 320px) / (1900 - 320)));
  }
}

.examples {
  background: url(../images/examples/bg_examples.jpg);
  background-size: cover;
  width: 100%;
  margin-top: -450px;
  padding-bottom: 20%;
}

.examples__inner {
  padding-top: 450px;
  text-align: center;
}

@media (max-width: 768px) {
  .examples__text {
    font-size: calc(20px + (20 - 20) * ((100vw - 320px) / (1900 - 320)));
  }
}

.slider {
  position: relative;
}

.slider__item {
  width: 100%;
}

.slider__item-img {
  margin: 0 auto;
  width: 33%;
}

.slick-dots {
  position: absolute;
  padding: 0;
  left: 51%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  top: 96%;
}

.slick-dots button {
  background-color: black;
  height: 15px;
  color: black;
  width: 15px;
  border: transparent;
  margin-right: 20px;
  cursor: pointer;
  font-size: 1px;
  border-radius: 50%;
}

.slick-active button {
  background-color: #dc0d15;
  height: 15px;
  width: 15px;
  border: transparent;
  margin-right: 20px;
  color: transparent;
  border-radius: 50%;
}

@media (max-width: 2560px) {
  .slider__item-img {
    width: 52%;
  }
}

@media (max-width: 2454px) {
  .slider__item-img {
    width: 44%;
  }
}

@media (max-width: 2214px) {
  .slider__item-img {
    width: 38%;
  }
}

@media (max-width: 2017px) {
  .slider__item-img {
    width: 32%;
  }
}

@media (max-width: 1900px) {
  .slider__item-img {
    margin: 0 auto;
    width: 33%;
  }
}

@media (max-width: 1862px) {
  .slider__item-img {
    width: 30%;
  }
}

@media (max-width: 1795px) {
  .slider__item-img {
    width: 28%;
  }
}

@media (max-width: 1735px) {
  .examples {
    background: url(../images/examples/bg_examples.jpg);
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -450px;
    padding-bottom: 20%;
  }
}

@media (max-width: 1483px) {
  .slider__item-img {
    width: 30%;
  }
}

@media (max-width: 1250px) {
  .examples {
    padding-bottom: 30%;
  }
  .slick-dots {
    top: 98%;
  }
}

@media (max-width: 1138px) {
  .slider__item-img {
    width: 34%;
  }
  .examples {
    margin-bottom: -5%;
  }
}

@media (max-width: 1024px) {
  .slider__item-img {
    width: 36%;
  }
}

@media (max-width: 900px) {
  .examples {
    background: url(../images/examples/bg_examples.jpg);
    background-repeat: no-repeat;
    background-position: 0% 20%;
    width: 100%;
    margin-top: -53%;
    padding-bottom: 99%;
  }
}

@media (max-width: 768px) {
  .examples {
    background: url(../images/examples/bg_examples.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    width: 100%;
    margin-top: -58%;
    padding-bottom: 58%;
  }
  .examples__inner {
    padding-top: 54%;
  }
}

@media (max-width: 650px) {
  .slider__item-img {
    width: 47%;
  }
}

@media (max-width: 500px) {
  .examples {
    padding-bottom: 72%;
  }
  .slider__item-img {
    width: 62%;
  }
  .slick-dots {
    left: 52%;
  }
  .slick-dots button {
    height: 12px;
    width: 12px;
  }
  .slick-active button {
    height: 12px;
    width: 12px;
  }
}

.result {
  background-image: url(../images/result/result_bg.jpg);
  background-size: cover;
  margin-top: -12%;
  margin-bottom: 80px;
  padding-bottom: 23%;
}

.result__inner {
  margin-bottom: 80px;
}

.result__title {
  text-align: center;
}

.result__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.result__item1 {
  position: relative;
}

.result__item1 span {
  color: #dc0d15;
  font-size: 40px;
}

.result__item1::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 5%;
  background-image: url(../images/result/arrow.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  color: transparent;
}

.result__item2 {
  position: relative;
}

.result__item2 span {
  color: #dc0d15;
  font-size: 40px;
}

.result__item2::before {
  content: "";
  position: absolute;
  left: -15%;
  top: 5%;
  background-image: url(../images/result/arrow.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  color: transparent;
}

.result__item3 {
  position: relative;
}

.result__item3 span {
  color: #dc0d15;
  font-size: 40px;
}

.result__item3::before {
  content: "";
  position: absolute;
  left: -25%;
  top: 5%;
  background-image: url(../images/result/arrow.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  color: transparent;
}

.title {
  letter-spacing: 0.01em;
}

.result__text {
  letter-spacing: 0.01em;
  margin-bottom: 80px;
}

.result__text span {
  color: #dc0d15;
}

.result__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 80px;
}

.content-reuslt {
  text-align: center;
}

.content-reuslt__title {
  font-weight: 500;
}

.content-reuslt__plan {
  font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1900 - 320)));
  font-weight: 400;
}

.content-reuslt__fact {
  font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1900 - 320)));
  font-weight: 400;
  color: #dc0d15;
}

@media (max-width: 900px) {
  .result {
    margin-top: -70%;
  }
  .impressions {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .result {
    margin-top: -3%;
  }
  .result__text {
    text-align: center;
    font-size: calc(20px + (20 - 20) * ((100vw - 320px) / (1900 - 320)));
  }
  .result__list {
    display: block;
    max-width: 60%;
    margin: 0 auto;
  }
  .result__item1,
  .result__item2,
  .result__item3 {
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1900 - 320)));
  }
  .result__item3::before {
    left: -10%;
  }
  .result__item1::before {
    left: -10%;
  }
  .result__item2::before {
    left: -10%;
  }
  .result__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content-reuslt__title {
    font-size: calc(16px + (27 - 16) * ((100vw - 320px) / (1900 - 320)));
  }
  .content-reuslt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 50%;
  }
  .content-reuslt p {
    font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (1900 - 320)));
  }
  .content-reuslt__plan {
    margin-bottom: 0;
  }
  .content-reuslt__fact {
    margin-top: 0;
  }
  .impressions {
    width: 50%;
  }
}

@media (max-width: 562px) {
  .result__item3::before {
    left: -15%;
  }
  .result__item1::before {
    left: -15%;
  }
  .result__item2::before {
    left: -15%;
  }
}

@media (max-width: 426px) {
  .result__item3::before {
    left: -20%;
  }
  .result__item1::before {
    left: -20%;
  }
  .result__item2::before {
    left: -20%;
  }
}

.opinion {
  margin-top: -19%;
  margin-bottom: 80px;
}

.opinion__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opinion__content {
  background-color: black;
  max-width: 584px;
  padding: 80px 100px;
  border: 3px dashed white;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: none;
  margin-right: 0;
}

.opinion__content-footer {
  font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1900 - 320)));
}

.opinion__img {
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  width: 100%;
}

@media (min-width: 1901px) {
  .opinion__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 584px;
    padding: 106px 56px 33px 56px;
    border: 3px dashed white;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: none;
    margin-right: 0;
    font-size: calc(26px + (29 - 26) * ((100vw - 320px) / (1900 - 320)));
  }
  .opinion__img {
    height: 100%;
    width: 100%;
  }
  .opinion__content-footer {
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1900 - 320)));
  }
}

@media (min-width: 2128px) {
  .opinion__content {
    padding-top: 53px;
  }
}

@media (max-width: 1024px) {
  .opinion__content {
    padding: 40px 50px;
  }
  .opinion__img {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .result {
    margin-top: -42%;
    background-size: cover;
    background-position: 50%;
  }
  .opinion__img {
    display: none;
  }
  .opinion__content {
    padding: 0;
    border: none;
    margin: 0 auto;
  }
  .opinion__content-text {
    text-align: center;
    font-size: calc(20px + (20 - 20) * ((100vw - 320px) / (1900 - 320)));
  }
  .opinion__content-footer {
    text-align: center;
  }
}

.footer {
  margin-bottom: 80px;
}

.footer__title {
  margin-bottom: 80px;
}

.title {
  text-align: center;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-item p {
  margin: 0;
  padding: 0;
}

.footer__content-img {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
}

.footer__content-text {
  padding-left: 30px;
  font-weight: 300;
  font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1900 - 320)));
  text-align: center;
}

.footer__content-text span {
  font-weight: 700;
  color: #dc0d15;
  font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1900 - 320)));
}

@media (max-width: 888px) {
  .footer__content-img {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-bottom: 0;
  }
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__content-text {
    text-align: center;
  }
  .footer__content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-bottom: 80px;
  }
  .footer__content-img {
    margin-bottom: 20px;
  }
}
