@font-face {
    font-family: "HappyFox";
    src: url(../fonts/HappyFox.ttf);
    font-weight: 400;
}

html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
body {
    background-color: #e7e9f2;
    margin: 0;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
.text {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1900 - 320)));
    line-height: 24px;
}
li {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1900 - 320)));
    line-height: 24px;
}
a {
    text-decoration: none;
}
.title {
    font-family: "HappyFox";
    font-weight: 400;
    font-size: calc(30px + (55 - 30) * ((100vw - 320px) / (1900 - 320)));
    letter-spacing: 0.03em;
    color: #a9141d;
    text-align: center;
}
.title_min {
    font-family: "HappyFox";
    font-weight: 400;
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
    letter-spacing: 0.03em;
    color: #a9141d;
    text-align: center;
}
.header {
    font-family: "Gilroy";
    background-image: url(../images/header/bg_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 93%;
    padding-top: 660px;
    padding-bottom: 200px;
}
.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
        50% 50% at 50% 50%,
        #e7e9f2 0%,
        rgba(231, 233, 242, 0.567708) 56.25%,
        rgba(231, 233, 242, 0) 100%
    );
}
.header__title {
    font-family: "HappyFox";
    font-size: 135px;
    color: #a9141d;
    font-weight: 400;
    text-align: center;
    backdrop-filter: blur(100%);
    border-radius: 25%;
}
.header__subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    max-width: 646px;
    text-align: center;
    backdrop-filter: blur(100%);
    margin-top: -20px;
}
@media (max-width: 1440px) {
    .header {
        background-position-x: 36%;
        background-position-y: -53px;
    }
    .header__title {
        font-size: 122px;
        margin-top: -52px;
        line-height: 100px;
        margin-bottom: 54px;
    }
    .header__subtitle {
        font-size: 33px;
    }
}
@media (max-width: 1024px) {
    .header {
        background-position-x: 36%;
        background-position-y: -53px;
    }
    .header__title {
        font-size: 101px;
        margin-top: -66px;
        line-height: 100px;
        margin-bottom: 52px;
    }
}
@media (max-width: 769px) {
    .header {
        background-position-x: 50%;
        background-position-y: -2px;
    }
    .header__title {
        font-size: 98px;
        margin-top: -19px;
        margin-bottom: 51px;
    }
    .header__subtitle {
        font-size: 20px;
        width: 65%;
    }
}
@media (max-width: 648px) {
    .header {
        background-position-x: 39%;
        background-position-y: -19px;
    }
    .header__title {
        font-size: 84px;
    }
    .header__subtitle {
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .header {
        background-position-x: 48%;
        background-position-y: -21px;
        padding-bottom: 0;
    }
    .header__inner {
        margin-top: -185px;
        margin-bottom: 80px;
    }
    .header__title {
        font-size: 67px;
        margin-top: -91px;
        line-height: 100px;
        margin-bottom: 20px;
    }
    .header__subtitle {
        font-size: 20px;
        width: 75%;
    }
}
@media (max-width: 425px) {
    .header {
        background-position-x: 48%;
        background-position-y: -18px;

    }
    .header__inner {
        margin-top: -171px;
    }
    .header__title {
        font-size: 67px;
        margin-top: -91px;
        line-height: 100px;
        margin-bottom: 20px;
    }
    .header__subtitle {
        font-size: 21px;
    }
}
@media (max-width: 375px) {
    .header {
        background-position-x: 45%;
        background-position-y: -53px;
    }
    .header__title {
        font-size: 57px;
    }
    .header__subtitle {
        font-size: 19px;
    }
}
.main {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 768px) {
    .main {
        background-position-x: 22%;
    }
}
.cake {
    margin-bottom: 160px;
}
.cake__inner {
    text-align: center;
    max-width: 779px;
    margin: 0 auto;
}
.cake__text {
    margin-bottom: 45px;
    font-size: 16px;
}
@media (max-width: 500px) {
    .cake {
        margin-top: -63px;
    }
}
.tasks {
    margin-bottom: 184px;
}
.tasks__inner {
    max-width: 780px;
    position: relative;
    margin-left: 403px;
}
.tasks__img {
    position: absolute;
    top: 46%;
    left: -146%;
    transform: scale(115%);
}
.tasks__title {
    margin-bottom: 40px;
}
.tasks__content {
    display: flex;
}
.tasks__content-blocks {
    width: 50%;
}
.tasks__content-blocks:not(:last-child) {
    margin-right: 20px;
}
.tasks__content-title {
    text-align: start;
    margin-bottom: 20px;
}

.task__list-item {
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
}
.task__list-item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #a9141d;
    border-radius: 50%;
    left: 0px;
    top: 7px;
}
@media (min-width: 2048px) {
    .tasks__img {
        top: 46%;
        left: -158%;
        transform: scale(142%);
    }
}
@media (min-width: 2560px) {
    .tasks__img {
        top: 44%;
        left: -191%;
    }
}
@media (max-width: 1500px) {
    .tasks__img {
        top: 30%;
        left: -107%;
    }
}
@media (max-width: 1440px) {
    .tasks__img {
        left: -121%;
    }
}
@media (max-width: 1024px) {
    .tasks {
        margin-bottom: 115px;
    }
    .tasks__content {
        flex-direction: column;
    }
    .tasks__content-blocks {
        margin-left: 9%;
        width: 90%;
    }
    .tasks__content-blocks:not(:last-child) {
        margin-bottom: 40px;
    }
    .tasks__img {
        top: 32%;
        left: -102%;
        transform: scale(107%);
    }
}
@media (max-width: 900px) {
    .tasks__content {
        flex-direction: column;
    }
    .tasks__content-blocks {
        margin-left: 9%;
        width: 90%;
    }
    .tasks__content-blocks:not(:last-child) {
        margin-bottom: 40px;
    }
    .tasks__img {
        top: 43%;
        left: -127%;
        transform: scale(146%);
    }
}
@media (max-width: 768px) {
    .tasks {
        margin-bottom: 3rem;
    }
    .tasks__img {
        left: -150%;
        top: 47%;
        transform: scale(199%);
    }
    .tasks__inner {
        margin-left: 50%;
    }
}
@media (max-width: 600px) {
    .tasks {
        margin-bottom: 26rem;
    }
    .tasks__img {
        left: -28%;
        top: 118%;
        width: 58%;
    }
    .tasks__inner {
        margin-left: 0;
    }
}
@media (max-width: 500px) {
    .tasks {
        margin-bottom: 23rem;
        margin-top: -110px;
    }
}
@media (max-width: 425px) {
    .tasks {
        margin-bottom: 20rem;
    }
    .tasks__img {
        left: -34%;
        top: 111%;
        width: 72%;
    }
}
@media (max-width: 375px) {
    .tasks {
        margin-bottom: 20rem;
    }
    .tasks__img {
        left: -38%;
        top: 111%;
        width: 77%;
    }
}
.portraits {
    margin-bottom: 160px;
    position: relative;
}
.portraits__inner {
    max-width: 780px;
}
.portraits__title {
    margin-bottom: 40px;
}

.portraits__subtitle {
    margin-bottom: 20px;
}
.portraits__content {
    display: flex;
}
.portraits__list {
    width: 50%;
}
.portraits__list:not(:last-child) {
    margin-right: 22px;
}
.portraits__item {
    margin-bottom: 20px;
    span {
        font-weight: 600;
    }
}
.portraits__img {
    position: absolute;
    top: -200%;
    right: -23%;
    transform: scale(42%);
}
@media (max-width: 1686px) {
    .portraits__img {
        top: -205%;
        right: -34%;
        transform: scale(38%);
    }
}
@media (max-width: 1600px) {
    .portraits__img {
        top: -206%;
        right: -36%;
        transform: scale(36%);
    }
}
@media (max-width: 1460px) {
    .portraits__img {
        position: absolute;
        top: -230%;
        right: -35%;
        transform: scale(30%);
    }
}
@media (max-width: 1210px) {
    .portraits__img {
        position: absolute;
        top: -210%;
        right: -35%;
        transform: scale(30%);
    }
}
@media (max-width: 1024px) {
    .portraits__content {
        flex-direction: column;
        margin-left: 60px;
    }
    .portraits__item {
        font-size: 16px;
    }
    .portraits__subtitle {
        margin-bottom: 60px;
    }
    .portraits__inner {
        max-width: 100%;
    }
    .portraits__title {
        width: 100%;
    }
    .portraits__img {
        position: absolute;
        top: -54%;
        right: -33%;
        transform: scale(34%);
    }
}
@media (max-width: 881px) {
    .portraits__img {
        position: absolute;
        top: -31%;
        right: -33%;
        transform: scale(34%);
    }
}
@media (max-width: 768px) {
    .portraits {
        margin-bottom: 50px;
    }
}
@media (max-width: 668px) {
    .portraits__content {
        margin-left: 0px;
    }
    .portraits__img {
        position: absolute;
        top: -15%;
        right: -33%;
        transform: scale(34%);
    }
}
@media (max-width: 568px) {
    .portraits__img {
        display: none;
    }
    .portraits__list {
        width: 100%;
    }
}
.desicion {
    margin-bottom: 160px;
}
.desicion__title {
    margin-bottom: 40px;
}
.desicion__text {
    margin-bottom: 40px;
    font-size: 16px;
}
.desicion__content {
    display: flex;
    margin-bottom: 40px;
}
.desicion__item {
    display: flex;
    max-width: 380px;
    font-size: 16px;
}
.desicion__item-img {
    margin-right: 25px;
}
.desicion__item-content-text {
    span {
        font-weight: 600;
    }
}
@media (max-width: 1180px) {
    .desicion__content {
        flex-direction: column;
        margin-left: 100px;
    }
    .desicion__item:not(:last-child) {
        margin-bottom: 40px;
    }
}
@media (max-width: 768px) {
    .desicion {
        margin-bottom: 375px;
    }
}

@media (max-width: 500px) {
    .desicion__content {
        margin-left: 0px;
    }
}
.why {
    margin-bottom: 160px;
    max-width: 2560px;
    position: relative;
}
.why__inner {
    max-width: 780px;
    margin-left: 302px;
}
.why__title {
    margin-bottom: 40px;
}
.why__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    padding: 12px 99px;
    background-color: #e7e9f2;
    border: 2.7px dashed #94070a;
    border-radius: 27px;
}
.why__content {
    display: flex;
}
.why__content-list:not(:last-child) {
    margin-right: 24px;
}
.why__content-item {
    margin-bottom: 30px;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
}
.why__content-item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #a9141d;
    border-radius: 50%;
    left: 0px;
    top: 7px;
}
.why__img {
    position: absolute;
    top: -47%;
    left: -3%;
    transform: scale(88%);
}
@media (max-width: 1525px) {
    .why__img {
        position: absolute;
        top: -46%;
        left: -10%;
        transform: scale(57%);
    }
}
@media (max-width: 1214px) {
    .why__img {
        position: absolute;
        top: -82%;
        left: -20%;
        transform: scale(36%);
    }
}
@media (max-width: 1024px) {
    .why__inner {
        width: 50%;
        margin-left: 50%;
    }
    .why__content {
        flex-direction: column;
    }
    .why__text {
        padding: 15px;
    }
    .why__img {
        position: absolute;
        top: -50%;
        left: -8%;
        transform: scale(75%);
    }
}
@media (max-width: 936px) {
    .why__img {
        top: -13%;
        left: -16%;
        transform: scale(63%);
    }
}
@media (max-width: 768px) {
    .why__inner {
        width: 100%;
        margin-left: 0;
    }
    .why__img {
       transform: rotate(270deg);
       width: 50%;
       top: -112%;
       left: 24%;
    }
}
@media (max-width: 636px) {
    .why__img {
        top: -92%;
     }
}
@media (max-width: 600px) {
    .why__img {
        left: 50%;
        transform: rotate(180deg);
     }
}
@media (max-width: 500px) {
    .why__img {
        top: -84%;
        left: 40%;
        width: 60%;
     }
}
@media (max-width: 450px) {
    .why__img {
        top: -82%;
        left: 29%;
        width: 74%;
     }
}
@media (max-width: 425px) {
    .why__img {
        top: -80%;
        left: 27%;
        width: 77%;
     }
}
@media (max-width: 383px) {
    .why__img {
        top: -61%;
     }
}
@media (max-width: 320px) {
    .why__img {
        top: -63%;
        left: 8%;
        width: 92%;
     }
}
.examples {
    margin-bottom: 72px;
}
.examples__title {
    margin-bottom: 40px;
}
.examples__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
.slider {
    position: relative;
}
.slick-dots {
    position: absolute;
    display: block;
    padding: 0;
    left: 51%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    list-style-type: none;
    top: 102%;
}

.slick-dots button {
    background-color: #aeaeae;
    height: 12px;
    color: black;
    width: 12px;
    border: transparent;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1px;
    border-radius: 50%;
}

.slick-active button {
    background-color: #94070a;
    height: 12px;
    width: 12px;
    border: transparent;
    margin-right: 20px;
    color: transparent;
    border-radius: 50%;
}
.banners__inner {
    margin-top: 60px;
}
.examples__landing {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.landing__btn {
    padding: 10px 68px;
    background-color: #94070a;
    color: white;
    border-radius: 27px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
}
.landing__btn:hover {
    background-color: white;
    color: #94070a;
    border: 1px solid #94070a;
}
.slick-prev,
.slick-next {
    position: absolute;
    border: none;
    background-repeat: no-repeat;
    width: 25px;
    height: 37px;
    background-color: transparent;
    top: 45%;
    transform: translate(-50%);
    cursor: pointer;
}
.slick-prev {
    background-image: url(../images/examples/arrow_left.svg);
    left: -20px;
}
.slick-next {
    background-image: url(../images/examples/arrow_right.svg);
    right: -50px;
}
@media (max-width: 1286px) {
    .slider {
        width: 100%;
        margin: 0 auto;
    }
    .slider__item-img {
        width: 85%;
        margin: 0 auto;
    } 
    .slick-prev {
        left: 35px;
    }
    .slick-next {
        right: 10px;
    }
}
@media (max-width: 768px) {
    .slider {
        width: 100%;
        margin: 0 auto;
    }
    .slider__item-img {
        width: 75%;
        margin: 0 auto;
    } 
    .slick-prev {
        left: 35px;
    }
    .slick-next {
        right: 10px;
    }
}
@media (max-width: 500px) {
    .examples {
        margin-top: -120px;
    }
    .slider {
        width: 100%;
        margin: 0 auto;
    }
    .slider__item-img {
        width: 85%;
        margin: 0 auto;
    } 
    .slick-prev {
        display: none;
    }
    .slick-next {
        display: none;
    }
}
.result {
    background-image: url(../images/result/bg_result.png);
    background-repeat: repeat-x;
    background-size: 96%;
    padding-bottom: 5%;
    padding-top: 50px;
    margin-bottom: 80px;
}
.result__inner {
    position: relative;

}
.result__title {
    margin-bottom: 40px;
}
.result__subtitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.result__indicators1 {
    margin-bottom: 40px;
}
.result__indicators1-item {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}
.indicators1__item-title {
    text-align: left;
    width: 141px;
}
.indicators1__item-graphic1, .indicators1__item-graphic2, .indicators1__item-graphic3, .indicators1__item-graphic4 {
    display: flex;
} 
.indicators1__item-graphic1 {
    width: 332px;
}
.indicators1__item-graphic2 {
    width: 351px;
}
.indicators1__item-graphic3 {
    width: 720px;
}
.indicators1__item-graphic4 {
    width: 398px;
}
.indicators1__item-graphic1-white, .indicators1__item-graphic2-white, .indicators1__item-graphic3-white, .indicators1__item-graphic4-white {
    width: 130px;
    background-color: white;
    height: 40px;
}

.indicators1__item-graphic1-white-red {
    width: 220px;
    background-color: #94070a;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
}
.indicators1__item-graphic2-white-red {
    width: 240px;
    background-color: #94070a;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
}
.indicators1__item-graphic3-white-red {
    width: 630px;
    background-color: #94070a;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
}
.indicators1__item-graphic4-white-red {
    width: 290px;
    background-color: #94070a;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
}
.indicators1__item-graphic1 {
    margin-right: 20px;
}
.indicators1__item-graphic2 {
    margin-right: 20px;
}
.indicators1__item-graphic3 {
    margin-right: 20px;
}
.indicators1__item-graphic4 {
    margin-right: 20px;
}
.result__project-subtitle {
    margin-bottom: 20px;
}
.result__project {
    display: flex;
    justify-content: space-between;
    max-width: 981px;
    margin: 0 auto;
    margin-bottom: 44px;
}
.result__project-item {
    display: flex;
    align-items: flex-start;
}
.result__project-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 40px;
}
.result__project-text_red {
    margin-right: 65px;
    position: relative;
}
.result__project-text_red::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #94070a;
    position: absolute;
    left: -30px;
}
.result__project-text_white {
    position: relative;
}
.result__project-text_white::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    left: -30px;
}
.result__landing {
    display: flex;
    justify-content: space-between;
    max-width: 981px;
    margin: 0 auto;
    margin-bottom: 44px;
}
@media (min-width: 2048px) {
    .result {
        background-size: 90%;
    }
}
@media (min-width: 2560px) {
    .result {
        background-size: 74%;
    }
}
@media (max-width: 1650px) {
    .result {
        background-size: 115%;
    }
}
@media (max-width: 1500px) {
    .result {
        background-size: 125%;
        padding-bottom: 6%;
    }
}
@media (max-width: 1250px) {
    .result {
        background-size: 145%;
    }
    .indicators1__item-graphic1 {
        width: 220px;
    }
    .indicators1__item-graphic2 {
        width: 232px;
    }
    .indicators1__item-graphic3 {
        width: 468px;
    }
    .indicators1__item-graphic4 {
        width: 262px;
    }
}

@media (max-width: 1050px) {
    .result {
        background-size: 175%;
    }
}
@media (max-width: 960px) {
    .result {
        background-size: 185%;
    }
}
@media (max-width: 844px) {
    .result {
        background-size: 205%;
    }
}
@media (max-width: 768px) {
    .result {
        background-size: 298%;
    }
    .indicators1__item-graphic1 {
        width: 159px;
    }
    .indicators1__item-graphic1-white,   .indicators1__item-graphic2-white,   .indicators1__item-graphic3-white,   .indicators1__item-graphic4-white {
        width: 26px;
    }
    .indicators1__item-graphic1-white-red {
        width: 133px;
    }
    .indicators1__item-graphic2 {
        width: 181px;
    }
    .indicators1__item-graphic2-white-red {
        width: 155px;
    }
    .indicators1__item-graphic3 {
        width: 368px;
    }
    .indicators1__item-graphic3-white-red {
        width: 342px;
    }
    .indicators1__item-graphic4 {
        width: 247px;
    }
    .indicators1__item-graphic4-white-red {
        width: 221px;
    }
    .result__project {
        flex-wrap: wrap;
    }
    .result__project-item {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 33%;
        margin-bottom: 20px;
    }
    .result__landing {
        flex-wrap: wrap;
    }
    .result__landing-item {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px) {
    .indicators1__item-title {
        width: 93px;
    }
    .result {
        background-size: 374%;
    }
    .indicators1__item-graphic1 {
        width: 105px;
    }
    .indicators1__item-graphic1-white,   .indicators1__item-graphic2-white,   .indicators1__item-graphic3-white,   .indicators1__item-graphic4-white {
        width: 15px;
    }
    .indicators1__item-graphic1-white-red {
        width: 90px;
    }
    .indicators1__item-graphic2 {
        width: 113px;
    }
    .indicators1__item-graphic2-white-red {
        width: 98px;
    }
    .indicators1__item-graphic3 {
        width: 229px;
    }
    .indicators1__item-graphic3-white-red {
        width: 214px;
    }
    .indicators1__item-graphic4 {
        width: 157px;
    }
    .indicators1__item-graphic4-white-red {
        width: 142px;
    }
    .indicators1__item-graphic1-white-red, .indicators1__item-graphic2-white-red, .indicators1__item-graphic3-white-red, .indicators1__item-graphic4-white-red {
        font-size: 13px;
        padding-left: 5px;
    }
}
@media (max-width: 548px) {
    .perevipolnenie {
        display: none;
    }
}
@media (max-width: 500px) {
    .result {
        background-size: 500%;
    }
    .result__project-item {
        width: 50%;
    }
    .result__landing-item {
        width: 50%;
        margin-bottom: 40px;
    }
}
@media (max-width: 425px) {
    .result {
        background-color: #f7dce0;
        padding-bottom: 1%;
    }
    .result__project-item {
        width: 50%;
    }
    .result__landing-item {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width: 420px) {
    .result__indicators1-item {
        max-width: 290px;
        margin: 0 auto;
        margin-bottom: 37px;
    }
    .indicators1__item-title {
        font-size: 20px;
        max-width: 76px;
    }
    .indicators1__item-graphic1-white-red, .indicators1__item-graphic2-white-red, .indicators1__item-graphic3-white-red, .indicators1__item-graphic4-white-red {
        font-size: 10px;
        padding-left: 5px;
    }
    .indicators1__item-graphic1, .indicators1__item-graphic2, .indicators1__item-graphic3, .indicators1__item-graphic4 {
        margin-right: 10px;
    }
    .indicators1__item-graphic1-white, .indicators1__item-graphic2-white,  .indicators1__item-graphic3-white, .indicators1__item-graphic4-white {
        width: 20px;
    }
    .indicators1__item-graphic1-white-red {
        width: 75px;
    }
    .indicators1__item-graphic1 {
        width: 95px;
    }
    .indicators1__item-graphic2-white-red {
        width: 80px;
    }
    .indicators1__item-graphic2 {
        width: 100px;
    }
    .indicators1__item-graphic3-white-red {
        width: 140px;
    }
    .indicators1__item-graphic3 {
        width: 162px;
    }
    .indicators1__item-graphic4-white-red {
        width: 100px;
    }
    .indicators1__item-graphic4 {
        width: 120px;
    }

}

.interview {
    margin-bottom: 160px;
}
.interview__inner-top {
    margin-bottom: 80px;
    position: relative;
    background-image: url(../images/interview/bg_text-interview.png);
}
.interview__title-top {
    text-align: start;
    margin-left: 304px;
    margin-bottom: 40px;
}
.interview__title-bottom {
    max-width: 510px;
    margin-left: 240px;
    margin-bottom: 40px;
}
.interview__content-top {
    max-width: 1020px;
    margin-left: 162px;
    padding: 35px;
    border: 2px dashed #a9141d;
    border-radius: 27px;
    background-color: #e7e9f2;
    position: relative;
    z-index: 10;
}
.interview__content-bottom {
    background-color: #e7e9f2;
    margin-right: 203px;
    padding: 35px;
    border: 2px dashed #a9141d;
    border-radius: 27px;
    position: relative;
    z-index: 10;
}

.interview__content-title {
    text-align: start;
}
.interview__content-subtitle {
    font-family: "HappyFox";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.interview__text {
    font-size: 16px;
    line-height: 24px;
}
.interview__inner-bottom {
    position: relative;
}
.interview__img-top {
    position: absolute;
    z-index: 5;
    left: -17%;
    top: -5%;
}
.interview__img-bottom {
    position: absolute;
    z-index: 5;
    right: -6%;
    top: -9%;
    width: 31%;
}
.interview__top-citata {
    position: absolute;
    width: 0;
	height: 0;  
	border-top: 40px solid transparent;
	border-right: 80px dashed #e7e9f2;;
	border-bottom: 40px solid transparent;
    border-radius: 50%;
    top: 63%;
    left: 9%;
    z-index: 100;
}
.interview__bottom-citata {
    position: absolute;
    width: 0;
	height: 0;  
	border-top: 40px solid transparent;
	border-left: 80px dashed #e7e9f2;;
	border-bottom: 40px solid transparent;
    border-radius: 50%;
    top: 72%;
    right: 13%;
    z-index: 100;
}
@media (min-width: 2048px) {
    .interview__img-top {
        top: -3%;
    }
    .interview__img-bottom {
        top: 13%;
    }
}
@media (min-width: 2560px) {
    .interview__img-top {
        top: 18%;
    }
    .interview__img-bottom {
        top: 18%;
    }
}
@media (max-width: 1650px) {
    .interview__img-top {
        top: -6%;
    }
    .interview__img-bottom {
        top: -12%;
    }
}
@media (max-width: 1440px) {
    .interview__img-top {
        left: -17%;
        top: -8%;
    }
    .interview__img-bottom {
        right: -5%;
        top: -13%;
    }
}
@media (max-width: 1273px) {
    .interview__content-top {
        max-width: 875px;
        margin-left: 275px;
    }
    .interview__img-top {
        position: absolute;
        z-index: 5;
        left: -5%;
        top: -4%;
    }
    .interview__top-citata {
        left: 19%;
    }
    .interview__img-bottom {
        top: -11%;
    }
}
@media (max-width: 1024px) {
    .interview__img-top {
        top: 5%;
    }
    .interview__top-citata {
        left: 23%;
    }
    .interview__img-bottom {
        top: -8%;
        right: -5%;
        width: 35%;
    }
    .interview__bottom-citata {
        right: 16%;
    }
}
@media (max-width: 954px) {
    .interview__title-bottom {
        margin-left: 80px;
        max-width: 430px;
    }
    .interview__top-citata {
        left: 25%;
    }
    .interview__bottom-citata {
        right: 17%;
    }
}
@media (max-width: 872px) {
    .interview__img-top {
        top: 16%;
        left: -9%;
    }
    .interview__img-bottom {
        top: 21%;
        right: -1%;
        width: 36%;
    }
    .interview__top-citata {
        left: 27%;
    }
    .interview__bottom-citata {
        right: 19%;
    }
}
@media (max-width: 820px) {
    .interview__img-top {
        top: 26%;
    }
    .interview__img-bottom {
        top: 21%;
        right: -1%;
        width: 36%;
    }
    .interview__top-citata {
        left: 27%;
    }
    .interview__bottom-citata {
        right: 19%;
    }
}
@media (max-width: 768px) {
    .interview__title-top {
        margin-left: 0;
        text-align: center;
    }
    .interview__content-title {
        text-align: center;
    }
    .interview__content-subtitle {
        text-align: center;
    }
    .interview__text {
        text-align: center;
    }
    .interview__img-top {
        top: 40%;
        left: -2%;
        width: 45%;
    }
    .interview__top-citata {
        left: 29%;
        top: 84%;
    }
    .interview__img-bottom {
        top: 16%;
        width: 46%;
        right: -7%;
    }
}
@media (max-width: 600px) {
    .interview__content-top {
        margin-left: 219px;
    }
    .interview__img-top {
        top: 47%;
        left: -14%;
        width: 63%;
    }
    .interview__img-bottom {
        top: 37%;
        width: 60%;
        right: -8%;
    }
    .interview__bottom-citata {
        right: 27%;
        top: 85%;
    }
}
@media (max-width: 500px) {
    .interview {
        margin-bottom: 60px;
    }
    .interview__inner-top, .interview__inner-bottom {
        margin-bottom: 40px;
    }
    .interview__content-top {
        margin-left: 0px;
        padding: 10px;
    }
    .interview__content-bottom {
        margin-right: 0px;
        padding: 10px;
    }
    .interview__title-bottom {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    .interview__img-top {
        display: none;
    }
    .interview__img-bottom {
        display: none;
    }
    .interview__top-citata {
        display: none;
    }
    .interview__bottom-citata {
        display: none;
    }
}
.footer {
    margin-bottom: 40px;
}
.footer__inner-title {
    margin-bottom: 40px;
}
.footer__team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.footer__team-list_bottom {
    max-width: 83%;
    margin: 0 auto;
}
.footer__team-item {
    flex-basis: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer__item-img {
    width: 80%;
    margin-bottom: 20px;
}
.footer__team-title {
    font-family: "HappyFox";
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: #a9141d;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}
.footer__team-text {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    height: 28px;
}
@media (max-width: 1110px) {  
    .footer__team-item {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media (max-width: 1024px) {
    .footer__team-item {
        flex-basis: 165px;
    }
}
@media (max-width: 389px) {
    .footer__team-item {
        flex-basis: 144px;
    }
}
